<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" >
    <title>Wiki Home Page</title>
    <link rel="stylesheet"  href="/style.css" />
  </head>
  <body>
    <h1>Welcome to our Wiki page!</h1>
    <p>Visit /pageName to view a page</p>
    <p>You can <a href="/new">create a new page</a></p>
  </body>
</html>

